* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

ul, li {
    list-style: none;
}

h1 {
    font-family: 'Montserrat', sans-serif;
}

.main-wrapper {
    min-height: calc(100vh - 30px);
    max-width: 1024px;
    margin: 0 auto;
}

.footer {
    height: 72px;
}

.clearfix {
    box-sizing: border-box;
}

.clearfix::after {
    content: ".";
    display: block;
    clear: both;
    height: 0;
}

/*header*/
.header {
    background-color: #344eff;
    color: white;
}

.profile__photo {
    float: left;
    width: 141px;
}

.profile__photo img {
    border-radius: 50%;
    width: inherit;
}

.profile__title {
    float: left;
    width: 459px;
}

.profile__name {
    font-size: 39px;
    line-height: 48px;
    font-weight: 700;
    letter-spacing: 0.06em;
}

.profile__position {
    font-size: 23px;
    line-height: 48px;
    font-weight: 600;
}


.profile__contacts {
    float: left;
    width: 178px;
}

.profile__contacts_list {
    position: relative;
    left: 78px;
    top: 20px;
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
}

/*left column*/
.column__left {
    float: left;
    width: 250px;
    margin-right: 50px;
}

/*right column*/
.column__right {
    float: left;
    width: 550px;
}

/*portfolio*/
.portfolio__list {
    padding-left: 20px;
}

.portfolio__item {
    display: inline-block;
    width: 241px;
    height: 263px;
    background-color: #fffeff;
    box-shadow: 0px 0px 34px 0px rgba(133,129,128,0.1);
}


.project__preview {
    width: 242px;
    height: 167px;
}

.project__preview img {
    width: inherit;
    height: inherit;
}

/*footer*/
.footer {
    background-color: #354fff;
    color: white;
}

.footer__text {
    font-family: "Myriad Pro", sans-serif;
    font-size: 18px;
    line-height: 27px;
    font-weight: 400;
}
