* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

ul, li {
    list-style: none;
}

a {
    text-decoration: none;
}

h1 {
    font-family: 'Montserrat', sans-serif;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 26px;
    line-height: 48px;
    font-weight: 600;
    color: #000000;
    margin-top: 36px;
    margin-bottom: 12px;
}

h4 {
    font-size: 18px;
    font-weight: 600;
}

.wrapper {
    max-width: 1024px;
    margin: 0 auto;
    position: relative;
    min-height: 100%;
}

.main-wrapper {
    padding-bottom: 72px;
}

.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 72px;
}

.clearfix {
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
    height: 0;
}

/*header*/
.header {
    background-color: #344eff;
    color: white;
}

.profile__photo {
    float: left;
    width: 141px;
    margin-top: 63px;
    margin-left: 80px;
    margin-bottom: 43px;
}

.profile__photo img {
    border-radius: 50%;
    width: inherit;
}

.profile__title {
    float: left;
    margin-left: 32px;
    margin-top: 85px;
}

.profile__name {
    font-size: 39px;
    line-height: 48px;
    font-weight: 700;
    letter-spacing: 0.045em;
}

h3.profile__position {
    font-size: 23px;
    line-height: 35px;
    font-weight: 500;
    color: #fffeff;
    margin-top: 2px;
    letter-spacing: -1px;
}


.profile__contacts {
    float: left;
    width: 178px;
    margin-left: 155px;
    margin-top: 38px;
}

.profile__contacts_list {
    position: relative;
    left: 78px;
    top: 20px;
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
}

.profile__contacts_list li {
    padding: 0 0 9px 0;
}

.profile__item-location:before {
    font-family: "Font Awesome 5 Free";
    content: "\f3c5";
    font-size: 14px;
    position: absolute;
    left: -30px;
    font-weight: 900;
}

.profile__item-site:before {
    font-family: "Font Awesome 5 Free";
    content: "\f0ac";
    font-size: 14px;
    position: absolute;
    left: -30px;
    font-weight: 900;
}

.profile__item-phone:before {
    font-family: "Font Awesome 5 Free";
    content: "\f879";
    font-size: 14px;
    position: absolute;
    left: -30px;
    font-weight: 900;
}


/*left column*/
.column__left {
    float: left;
    width: 265px;
    margin-right: 5px;
    background-color: rgba(247, 247, 247, 0.4);
    padding-left: 80px;
}


.profile-info__title:before, .interests__title:before, .reference__title:before, .awards__title:before, .portfolio__title:before {
    font-family: "Font Awesome 5 Free";
    content: "\f0b1";
    font-size: 16px;
    font-weight: 900;
    padding: 15px 15px;
    margin-right: 16px;
    border-radius: 50%;
    background-color: #344eff;
    color: #fffeff;
}

.profile-info__text {
    font-size: 18px;
    line-height: 29px;
    font-weight: 400;
    color: #000000;
    width: 250px;
}


.interests__list > li {
    display: inline-block;
    font-size: 18px;
    font-weight: 600;
    color: #000000;
    position: relative;
    width: 75px;
    padding-top: 72px;
    margin-right: 10px;

}

.interests__item:before {
    position: absolute;
    font-family: "Font Awesome 5 Free";
    font-size: 19pt;
    color: #3449dc;
    border-radius: 50%;
    font-weight: 700;
    border: 6px solid #344eff;
    padding: 8px;
    bottom: 34px;
}

.interests__item--music:before {
    content: "\f58f";
}

.interests__item--gaming:before {
    content: "\f11b";
}

.interests__item--biking:before {
    content: "\f21c";
}


.reference__item:before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    display: block;
    position: absolute;
    top: 26px;
    left: 0;
    height: 24px;
    width: 8px;
    content: '\f192';
    color: #d8e2e1;
    bottom: -30px;
}


.reference__item_first:after {
    display: block;
    position: absolute;
    content: "";
    top: 44px;
    left: 7px;
    bottom: -32px;
    border-left: 3px solid #d8e2e1;
}

.reference__item {
    position: relative;
    margin: 0;
    padding-left: 36px;
    font-size: 18px;
    font-weight: 400;
    color: rgba(64, 60, 59, 0.6);
    line-height: 1.5;
}

.reference__item_first {
    padding-bottom: 30px;
}

.referee {
    color: #354fff;
    font-weight: 600;
    font-size: 18px;
}

.awards {
    margin-bottom: 42px;
}

.awards__item {
    font-size: 18px;
    font-weight: 600;
    color: #000000;
    margin-bottom: 10px;
}


/*right column*/
.column__right {
    float: left;
    width: 620px;
}

/*portfolio*/

.portfolio {
    margin-left: 15px;
}

.portfolio__title:before {
    margin-right: 35px;
}

.portfolio__list {
    margin-left: 80px;
    margin-top: 25px;
}

.portfolio__item {
    margin-right: 15px;
    margin-bottom: 18px;
    display: inline-block;
    width: 241px;
    height: 263px;
    background-color: #fffeff;
    box-shadow: 0px 0px 34px 0px rgba(133, 129, 128, 0.1);
}

.portfolio__item:hover {
    box-shadow: 0px 0px 34px 0px rgba(35,48,118,0.6);
}


.project__preview {
    width: 242px;
    height: 167px;
}

.project__preview img {
    width: inherit;
    height: inherit;
}

.project__title {
    text-align: center;
    padding-top: 20px;
}

.project__field {
    text-align: center;
    padding-top: 4px;
    font-size: 18px;
    font-weight: 400;
}


/*footer*/
.footer {
    background-color: #354fff;
    color: white;
}

.footer__text {
    font-family: "Myriad Pro", sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin-left: 80px;
    margin-top: 25px;
}
