* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 100%;
    font-family: 'Noto Sans', sans-serif;
}

main {
    width: 1020px;
    margin: auto;
}

.keyboard {
    display: grid;
    grid-row-gap: 10px;
    padding: 10px;
    border: 1px solid;
    position: relative;
    overflow: hidden;
    background: #031321;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border: 3px solid #222;
}

.keyboard__row {
    display: grid;
    grid-gap: 10px;
    grid-row-gap: 10px;
    height: 50px;
}

.keyboard__key {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;
    color: #fff;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.keyboard__key:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 5px;
}

.keyboard__key:active:after {
    background: transparent;

}


.keyboard__key.active:after {
    background: transparent;
}

.keyboard__key:hover:before {
    opacity: 1;
}

.keyboard__key:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #29272b;
    left: 0;
    top: 0;
    border-radius: 5px;
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 400% 0;
    }
    100% {
        background-position: 0 0;
    }
}

[data-fn="true"] > .letter {
    font-size: 16px;
}

[data-code="CapsLock"] {
    width: 86px;
}

[data-code="ShiftLeft"] {
    width: 100px;
}

[data-code="ShiftRight"] {
    width: 120px;
}

[data-code="Enter"] {
    width: 100px;
}

[data-code="Tab"] {
    width: 76px;
}

[data-code="ControlLeft"] {
    width: 76px;
}

[data-code="ControlRight"] {
    width: 60px;
}

[data-code="Backspace"] {
    width: 115px;
}

[data-code="Space"] {
    width: 420px;
}

.sub {
    width: 100%;
    color: #68688a;
    text-align: left;
    padding-left: 10px;
    transition: all .2s ease;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
}

.sub.sub-active:not(:empty) {
    color: rgb(19, 80, 0);
    font-size: 23px;
}

.sub.sub-active:not(:empty) ~ .letter.sub-inactive {
    color: #68688a;
    font-size: 16px;
    text-align: center;
    padding-right: 10px;
    width: 50%;
    transform-origin: center;
    transform: translateX(20px);
    -webkit-transform: translateX(20px);
    -moz-transform: translateX(20px);
    -ms-transform: translateX(20px);
    -o-transform: translateX(20px);
}
