*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-size: 10px;
}

.wrapper {
  margin: 0 auto;
  max-width: 160rem;
  width: 100%;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  outline: none;
}

h1 {
  color: #ffffff;
  font-family: "Yeseva One", cursive;
  font-size: 3.6rem;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: center;
  text-transform: uppercase;
}

.header__wrapper {
  width: 100%;
  position: absolute;
  top: 6.1rem;
  display: flex;
  justify-content: space-between;
  z-index: 2;
  max-width: 120.6rem;
  margin: 0 auto 0 17.9rem;
  align-items: center;
}

.logo__title:hover {
  color: rgba(255, 255, 255, 0.45);
  cursor: pointer;
}

.header-menu {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-left: 23.9rem;
}

.header-menu__list {
  display: flex;
  justify-content: space-between;
  max-width: 71rem;
  width: 100%;
}

.header-social__list {
  display: flex;
  justify-content: space-between;
  max-width: 8.1rem;
  width: 100%;
  margin-left: 2rem;
}

.list__link {
  color: #ffffff;
  font-family: "Gentium Book Basic", serif;
  font-size: 21px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
}

.list__link:hover {
  border-bottom: 2px solid #ffffff;
  cursor: pointer;
}

.social__link {
  color: #dab33e;
  font-size: 2.1rem;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
}

.social__link:hover {
  color: #ffffff;
  cursor: pointer;
}

.promo {
  background-image: url(./assets/images/Bg.png);
  background-repeat: no-repeat;
  height: 75rem;
}

.promo__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 96rem;
  width: 100%;
  margin: 0 auto;
  padding-top: 23.9rem;
}

.promo__item {
  opacity: 0.92;
  text-shadow: 1px 1px 2px rgba(1, 1, 1, 0.64);
  color: #ffffff;
  font-family: "Yeseva One", cursive;
  font-size: 9rem;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: center;
  width: 100%;
  word-wrap: break-word;
}
.promo__item:after {
  line-height: 0;
  display: block;
  margin: 30px 0;
  content: url(./assets/icons/Decoration-1.png);
}

.promo__link-container {
  display: flex;
  justify-content: space-between;
  max-width: 48.6rem;
  width: 100%;
  margin-top: 2rem;
}

.promo__link {
  font-family: "Lato", sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: center;
  text-transform: uppercase;
  padding: 2.3rem 5.2rem 2.1rem;
  color: #ffffff;
}

.button-black {
  border: 1px solid rgba(0, 0, 0, 0.5);
  background-color: rgba(0, 0, 0, 0.5);
}
.button-black:hover {
  background-color: rgba(255, 255, 255, 0.65);
}

.button-white {
  border: 1px solid #ffffff;
  background-color: rgba(255, 255, 255, 0.45);
}
.button-white:hover {
  background-color: rgba(255, 255, 255, 0.65);
}

.about {
  background-image: url(./assets/images/pattern_fon.png);
  background-repeat: no-repeat;
  height: 71rem;
}

.about__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  box-shadow: inset 0 0 50px rgba(1, 1, 1, 0.14);
  background-image: linear-gradient(-43deg, rgba(1, 1, 1, 0.09) 0%, rgba(255, 255, 255, 0.09) 100%);
  padding: 5.5rem 24rem 3rem 29.4rem;
}

.about__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about__title {
  color: #cc9900;
  font-family: "Yeseva One", cursive;
  font-size: 3.6rem;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 2.4rem;
  text-align: center;
}
.about__title:after {
  line-height: 0;
  display: block;
  margin: 30px 0;
  content: url(./assets/icons/Divider.png);
}

.about__text {
  color: #4c4c4c;
  font-family: "Lato", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 2.4rem;
  text-align: center;
  max-width: 40.9rem;
}

.about__image-cook {
  margin-top: 5.2rem;
}

.ingredients {
  background-image: url(./assets/images/bg_2.png);
  background-repeat: no-repeat;
  height: 75.8rem;
  padding-top: 10rem;
}

.ingredients__wrapper {
  max-width: 57rem;
  width: 100%;
  height: 55.7rem;
  border: none;
  background-color: rgba(0, 0, 0, 0.5);
  margin-left: 81.5rem;
}

.ingredients__container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.ingredients__title {
  color: #ffffff;
  font-family: "Yeseva One", cursive;
  font-size: 3.6rem;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: center;
  margin-top: 8.1rem;
}
.ingredients__title:after {
  line-height: 0;
  display: block;
  margin: 30px 0;
  content: url(./assets/icons/Divider-2.png);
}

.ingredients__text {
  color: #ffffff;
  font-family: "Lato", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 2.4rem;
  text-align: center;
  max-width: 40.9rem;
  width: 100%;
}

.ingredients__image-items {
  display: flex;
  justify-content: center;
  margin-top: 4rem;
}

.ingredients__image-item {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}

.menu {
  background-image: url(./assets/images/pattern_fon-2.png);
  background-repeat: no-repeat;
  height: 99.4rem;
}

.menu__wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 auto;
  box-shadow: inset 0 0 50px rgba(1, 1, 1, 0.14);
  background-image: linear-gradient(-226deg, rgba(32, 90, 91, 0.09) 0%, rgba(255, 255, 255, 0.09) 100%);
  padding: 0 27.1rem;
}

.submenu {
  width: 40%;
  margin-bottom: 20px;
}

.submenu__title {
  color: #cc9900;
  font-family: "Yeseva One", cursive;
  font-size: 3.6rem;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 2.4rem;
  text-align: center;
}

.submenu-item__title {
  color: #c89f2d;
  font-family: "Yeseva One", cursive;
  font-size: 2.1rem;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  display: flex;
  justify-content: space-between;
}
.submenu-item__title:after {
  line-height: 0;
  display: block;
  margin: 1.5rem 0;
  content: url(./assets/icons/Divider.png);
}

.submenu-item__text {
  font-family: "Lato", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
}

.submenu-item__text:before {
  display: block;
  width: 100%;
  height: 0.1rem;
  margin: 1.2rem 0;
  content: "";
  background-color: #c89f2d;
}

/*# sourceMappingURL=style.css.map */
