$color-primary: #ffffff;
$color-primary-2: #fefefe;
$color-primary-transparent: rgba(255, 255, 255, 0.45);
$color-primary-transparent-hover: rgba(255, 255, 255, 0.65);
$color-gold: #dab33e;
$color-gold-2: #c9a131;
$color-gold-hover: #DAC07A;
$color-gold-dark: #cc9900;
$color-gold-light: #c89f2d;
$color-gold-light-transparent: rgba(200, 159, 45, 0.7);
$color-dark: #000000;
$color-dark-transparent: rgba(0, 0, 0, 0.5);
$color-dark-x: #4c4c4c;
$color-light: #dde0df;
$color-form-placeholder-text: #7c7c7c;
$color-form-placeholder-border: #c8c6c6;
$color-black: #191919;


*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-size: 10px;
}

.wrapper {
  margin: 0 auto;
  max-width: 160rem;
  width: 100%;
}


li {
  list-style-type: none;
}


a {
  text-decoration: none;
  outline: none;
}

h1 {
  color: $color-primary;
  font-family: "Yeseva One", cursive;
  font-size: 3.6rem;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: center;
  text-transform: uppercase;
}


//Header
.header__wrapper {
  width: 100%;
  position: absolute;
  top: 4rem;
  display: flex;
  justify-content: space-between;
  z-index: 2;
  max-width: 120.6rem;
  margin: 0 auto 0 17.9rem;
  align-items: center;
}


.logo__title:hover {
  color: $color-primary-transparent;
  cursor: pointer;
}

.header-menu {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-left: 23.9rem;
}

.header-menu__list {
  display: flex;
  justify-content: space-between;
  max-width: 71rem;
  width: 100%;
}

.header-social__list {
  display: flex;
  justify-content: space-between;
  max-width: 8.1rem;
  width: 100%;
  margin-left: 2rem;
}

.list__link {
  color: $color-primary;
  font-family: 'Gentium Book Basic', serif;
  font-size: 21px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
}

.list__link:hover {
  border-bottom: 2px solid $color-primary;
  cursor: pointer;
}

.social__link {
  color: $color-gold;
  font-size: 2.1rem;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
}

.social__link:hover {
  color: $color-primary;
  cursor: pointer;
}


//Promo
.promo {
  background-image: url(./assets/images/Bg.png);
  background-repeat: no-repeat;
  height: 75rem;
}

.promo__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 96rem;
  width: 100%;
  margin: 0 auto;
  padding-top: 21.3rem;
}

.promo__item {
  opacity: 0.92;
  text-shadow: 0.1rem 0.1rem 0.2rem rgba(1, 1, 1, 0.64);
  color: $color-primary;
  font-family: "Yeseva One", cursive;
  font-size: 9rem;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 11.9rem;
  text-align: center;
  width: 100%;
  word-wrap: break-word;

  &:after {
    line-height: 0;
    display: block;
    margin: 2.3rem 0;
    content: url(./assets/icons/Decoration-1.png);
  }
}


.promo__link-container {
  display: flex;
  justify-content: space-between;
  max-width: 48.6rem;
  width: 100%;
  margin-top: 1.2rem;
}

.promo__link {
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: center;
  text-transform: uppercase;
  padding: 1.7rem 5.1rem 1.5rem;
  color: $color-primary;
}


.button-black {
  border: 1px solid $color-dark-transparent;
  background-color: $color-dark-transparent;

  &:hover {
    background-color: $color-primary-transparent-hover;
  }
}


.button-white {
  border: 1px solid $color-primary;
  background-color: $color-primary-transparent;

  &:hover {
    background-color: $color-primary-transparent-hover;
  }
}

//About
.about {
  background-image: url(./assets/images/pattern_fon.png);
  background-repeat: no-repeat;
  height: 71rem;
}

.about__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  box-shadow: inset 0 0 50px rgba(1, 1, 1, 0.14);
  background-image: linear-gradient(-43deg, rgba(1, 1, 1, 0.09) 0%, rgba(255, 255, 255, 0.09) 100%);
  padding: 5.5rem 24rem 3rem 29.4rem;
}

.about__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about__title {
  color: $color-gold-dark;
  font-family: "Yeseva One", cursive;
  font-size: 3.6rem;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 2.4rem;
  text-align: center;

  &:after {
    line-height: 0;
    display: block;
    margin: 3rem 0;
    content: url(./assets/icons/Divider.png);
  }
}


.about__text {
  color: $color-dark-x;
  font-family: 'Lato', sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 2.4rem;
  text-align: center;
  max-width: 40.9rem;
}

.about__image-cook {
  margin-top: 5.2rem;
}

//Ingredients

.ingredients {
  background-image: url(./assets/images/bg_2.png);
  background-repeat: no-repeat;
  height: 75.8rem;
  padding-top: 10rem;
}

.ingredients__wrapper {
  max-width: 57rem;
  width: 100%;
  height: 55.7rem;
  border: none;
  background-color: $color-dark-transparent;
  margin-left: 81.5rem;
}


.ingredients__container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}


.ingredients__title {
  color: $color-primary;
  font-family: "Yeseva One", cursive;
  font-size: 3.6rem;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: center;
  margin-top: 8.1rem;

  &:after {
    line-height: 0;
    display: block;
    margin: 30px 0;
    content: url(./assets/icons/Divider-2.png);
  }
}

.ingredients__text {
  color: $color-primary;
  font-family: 'Lato', sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 2.4rem;
  text-align: center;
  max-width: 40.9rem;
  width: 100%;
}

.ingredients__image-items {
  display: flex;
  justify-content: center;
  margin-top: 4rem;
}

.ingredients__image-item {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}


//Menu
.menu {
  background-image: url(./assets/images/pattern_fon-2.png);
  background-repeat: no-repeat;
  max-height: 99.4rem;
  height: 100%;
}


.menu__wrapper {
  width: 100%;
  margin: 0 auto;
  box-shadow: inset 0 0 50px rgba(1, 1, 1, 0.14);
  background-image: linear-gradient(-226deg, rgba(32, 90, 91, 0.09) 0%, rgba(255, 255, 255, 0.09) 100%);
  padding: 11rem 23.3rem 10rem 27.1rem;
}

.menu__inner {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
}

.submenu {
  width: 49.5rem;

  &:first-child {
    margin-bottom: 4.5rem;
  }

  &:last-child {
    margin-top: -10rem;
  }

}

.submenu-item {
  margin-bottom: 2.75rem;
  margin-right: 4rem;
  padding-left: 1.2rem;
  padding-right: 1rem;
}

.submenu__title {
  color: $color-gold-dark;
  font-family: "Yeseva One", cursive;
  font-size: 3.6rem;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 2.4rem;
  text-align: center;
  margin-right: 4rem;

  &:after {
    line-height: 0;
    display: block;
    margin: 2.1rem 0;
    content: url(./assets/icons/Divider.png);
  }
}

.submenu-item__title {
  color: $color-gold-light;
  font-family: "Yeseva One", cursive;
  font-size: 2.1rem;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
}

.submenu-item__title_special {
  padding-top: 0.5rem;
}


.submenu-item__text {
  font-family: 'Lato', sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
}

.submenu-item__text:before {
  display: block;
  width: 100%;
  height: 0.1rem;
  margin: 0.8rem 0;
  content: '';
  background-color: $color-gold-light-transparent;
}

.special {
  position: relative;
  padding: 0.1rem 1rem 1rem;
  border: 1px rgba(200, 159, 45, .35) solid;
  margin-bottom: 2rem;
  margin-top: 3rem;

}

.special:before {
  font-family: 'Lato', sans-serif;
  font-size: 1.4rem;
  position: absolute;
  top: -2.1rem;
  right: -0.1rem;
  display: block;
  padding: 0.05rem 1.3rem 0.3rem;
  content: 'Special';
  color: $color-primary;
  background-color: $color-gold-light-transparent;
}


//reviews

.reviews {
  background-image: url(./assets/images/bg_3.png);
  background-repeat: no-repeat;
}

.reviews__wrapper {
  width: 100%;
  margin: 0 auto;
  padding-top: 10rem;
  padding-bottom: 10rem;
}

.review__article {
  width: 77rem;
  height: 55.7rem;
  background-image: url(./assets/images/bg_rewievs.png);
  margin: 0 auto;
  padding-left: 7.3rem;
  padding-right: 7.3rem;
  padding-top: 7.7rem;
}

.review__title {
  color: $color-primary;
  font-family: "Yeseva One", cursive;
  font-size: 3.6rem;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: center;

  &:after {
    line-height: 0;
    display: block;
    margin: 1.7rem 0;
    content: url(./assets/icons/Divider-2.png);
  }
}


.review__text {
  color: $color-light;
  font-family: 'Gentium Book Basic', serif;
  font-size: 2.5rem;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: 4.5rem;
  text-align: center;
}

.review__source {
  color: $color-light;
  font-family: 'Lato', sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: center;
  padding-top: 3rem;
}


//reservations


.reservations {
  background-image: url(./assets/images/pattern_fon-2.png);
  background-repeat: no-repeat;
}


.reservations__wrapper {
  width: 100%;
  margin: 0 auto;
  box-shadow: inset 0 0 50px rgba(1, 1, 1, 0.14);
  background-image: linear-gradient(-226deg, rgba(32, 90, 91, 0.09) 0%, rgba(255, 255, 255, 0.09) 100%);
  padding: 11rem 23.3rem 10rem 27.1rem;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.reservations__image-items {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  max-width: 57rem;
  width: 100%;
}


.reservations__article {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  max-width: 43rem;

}


.reservations__title {
  color: $color-gold-dark;
  font-family: "Yeseva One", cursive;
  font-size: 3.6rem;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 2.4rem;
  text-align: center;

  &:after {
    line-height: 0;
    display: block;
    margin: 1.7rem 0;
    content: url(./assets/icons/Divider.png);
  }
}

.reservations__text {;
  color: $color-dark-x;
  font-family: 'Lato', sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 2.4rem;
  text-align: center;
}

.reservations__form {
  width: 100%;
  max-width: 43rem;
  text-align: center;
}


.form-item__inner {
  display: flex;
  width: 100%;
  margin-bottom: 2rem;
  justify-content: space-between;
}


.forms__item {
  position: relative;
  margin-right: 3rem;
  margin-bottom: 1rem;
}


.forms__item:last-child {
  margin-right: 0;
}

.forms__title {
  color: $color-gold-2;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.4rem;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: left;
}


.forms__input {
  width: 20rem;
  height: 3.6rem;
  border: 1px solid $color-form-placeholder-border;
  color: $color-form-placeholder-text;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.6rem;
  font-style: italic;
  letter-spacing: normal;
  line-height: normal;
  text-align: left;
  padding-left: 1.6rem;
}

input[type="date"]::-webkit-inner-spin-button {
  display: none;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  background: none;
  padding: 0;
}

input[type='text'], input[type="email"] {
  background: none;
}

select {
  background: none;
}


.calendar {
  background: url(assets/icons/calendar.png) no-repeat scroll 17rem 1rem;
}


.forms__btn {
  width: 20rem;
  height: 3.6rem;
  border: 1px solid $color-gold-light;
  background-color: $color-gold-light;
  color: $color-primary;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: center;

  &:hover {
    cursor: pointer;
    background-color: $color-gold-hover;
  }
}

//Footer
.footer__wrapper {
  display: flex;
  justify-content: space-between;
  background-color: $color-black;
  padding: 6.1rem 29.9rem 7.2rem 23rem;
}

.footer-item {
  max-width: 34.3rem;
  width: 100%;
  text-align: center;
}
.footer__title {
  color: $color-primary-2;
  font-family: "Yeseva One", cursive;
  font-size: 2.1rem;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 2.4rem;
  text-align: center;
}

.about-us.footer__title:after {
  line-height: 0;
  display: block;
  margin-top: 1.7rem;
  content: url(./assets/icons/Divider-2.png);
}

.footer__text {
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 1.6rem;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 2.4rem;
  text-align: center;
  padding-top: 6.3rem;
}

.about-us.footer__text {
  padding-top: 2.3rem;
}

ul.social-icons li {
  display: inline-block;
  text-align: center;
  line-height: 3.6rem;
  margin-bottom: 0;
  padding: 0 5px;
  a {color: $color-primary-2;}

}
